<div class="container-fluid text-center">
    <div style="text-align:center">
        <img src="https://media.tenor.com/DNCBqbguizsAAAAd/magic.gif" alt="Magic!" />
        <h1 class="display-4">Imate poklon na desktopu!</h1>
    </div>
</div>
