obj/Klarinator3000.csproj.nuget.dgspec.json
obj/Klarinator3000.csproj.nuget.g.props
obj/Klarinator3000.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/Klarinator3000.AssemblyInfo.cs
obj/Debug/net7.0/Klarinator3000.AssemblyInfoInputs.cache
obj/Debug/net7.0/Klarinator3000.assets.cache
obj/Debug/net7.0/Klarinator3000.csproj.AssemblyReference.cache
obj/Debug/net7.0/Klarinator3000.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Klarinator3000.GlobalUsings.g.cs
obj/Debug/net7.0/Klarinator3000.RazorAssemblyInfo.cache
obj/Debug/net7.0/Klarinator3000.RazorAssemblyInfo.cs
obj/Debug/net7.0/project.razor.json
