obj/Klarinator3000.csproj.nuget.dgspec.json
obj/Klarinator3000.csproj.nuget.g.props
obj/Klarinator3000.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/Klarinator3000.AssemblyInfo.cs
obj/Debug/net7.0/Klarinator3000.AssemblyInfoInputs.cache
obj/Debug/net7.0/Klarinator3000.assets.cache
obj/Debug/net7.0/Klarinator3000.csproj.AssemblyReference.cache
obj/Debug/net7.0/Klarinator3000.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Klarinator3000.GlobalUsings.g.cs
obj/Debug/net7.0/Klarinator3000.RazorAssemblyInfo.cache
obj/Debug/net7.0/Klarinator3000.RazorAssemblyInfo.cs
obj/Debug/net7.0/project.razor.json
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/BouncyCastle.Crypto.dll
bin/Debug/net7.0/CsvHelper.dll
bin/Debug/net7.0/HtmlAgilityPack.dll
bin/Debug/net7.0/itext.barcodes.dll
bin/Debug/net7.0/itext.commons.dll
bin/Debug/net7.0/itext.forms.dll
bin/Debug/net7.0/itext.io.dll
bin/Debug/net7.0/itext.kernel.dll
bin/Debug/net7.0/itext.layout.dll
bin/Debug/net7.0/itext.pdfa.dll
bin/Debug/net7.0/itext.sign.dll
bin/Debug/net7.0/itext.styledxmlparser.dll
bin/Debug/net7.0/itext.svg.dll
bin/Debug/net7.0/Klarinator3000.deps.json
bin/Debug/net7.0/Klarinator3000.dll
bin/Debug/net7.0/Klarinator3000.exe
bin/Debug/net7.0/Klarinator3000.pdb
bin/Debug/net7.0/Klarinator3000.runtimeconfig.json
bin/Debug/net7.0/Klarinator3000.staticwebassets.runtime.json
bin/Debug/net7.0/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net7.0/Microsoft.Web.Infrastructure.dll
bin/Debug/net7.0/Newtonsoft.Json.dll
bin/Debug/net7.0/System.Web.Helpers.dll
bin/Debug/net7.0/System.Web.Razor.dll
bin/Debug/net7.0/System.Web.WebPages.Deployment.dll
bin/Debug/net7.0/System.Web.WebPages.dll
bin/Debug/net7.0/System.Web.WebPages.Razor.dll
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/Klarinator3000.csproj.CopyComplete
obj/Debug/net7.0/Klarinator3000.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Klarinator3000.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Klarinator3000.dll
obj/Debug/net7.0/Klarinator3000.genruntimeconfig.cache
obj/Debug/net7.0/Klarinator3000.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net7.0/Klarinator3000.pdb
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/ref/Klarinator3000.dll
obj/Debug/net7.0/refint/Klarinator3000.dll
obj/Debug/net7.0/scopedcss/bundle/Klarinator3000.styles.css
obj/Debug/net7.0/scopedcss/projectbundle/Klarinator3000.bundle.scp.css
obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net7.0/staticwebassets/msbuild.build.Klarinator3000.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Klarinator3000.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Klarinator3000.props
obj/Debug/net7.0/staticwebassets/msbuild.Klarinator3000.Microsoft.AspNetCore.StaticWebAssets.props
