<div class="container-fluid text-center">
    <h1 class="display-4">Dobrodošli u Klarinator3000</h1>
    <p class="lead">Oči su Vam ispale od potvrda ili poreza?! Nema problema, imamo rešenje za Vas!</p>
    <div style="text-align:center">
        <img src="https://media.tenor.com/aSW9ZfIIC64AAAAC/shaq-shimmy.gif" alt="Shaq GIF" />
    </div>
</div>
