@using (Html.BeginForm("Upload", "CalculationList", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="fileObracunska">Obracunska:</label>
        <input type="file" name="fileObracunska" id="fileObracunska" accept=".pdf" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Perform THE MAGIC!" class="btn btn-primary">
    </div>
}